html, body {
	margin: 0;
	padding: 0;
	font-family: Roboto, "Arial", sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: #ffffff;
}
 
.inner-body {
	background-color: #849d8f;
}

a {
	text-decoration: none;
}

/* Задание единообразного вида списков, ссылок для различных секций*/
.site-navigation,
.user-navigation, 
.switch,
.banners-list, 
.features-list,
.hits-list,
.social-list,
.bottom-list,
.crumbs,
.catalog-list,
.pagination-list,
.main-menu {
	list-style: none;
}

.user-navigation a {
	margin:0;
	padding:0;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	display: block;
	min-height: 16px;
	padding-top: 9px;
	padding-bottom: 9px;
	
	
}
.user-navigation a:hover,
.user-navigation a:focus
 {
	color: #000000;
	background-color: rgb(247, 246, 243);
 }
 
.site-navigation a {
	margin:0;
	padding: 9px 12px;
	/*min-width: 86px;*/
	min-height: 14px;
	line-height: 18px;
	display: block;
	text-align: center;
	position: relative;
}

.site-navigation a:hover,
.site-navigation a:focus {
	margin:0;
	color: #000000;
	background-color: rgb(247, 246, 243);
	padding: 9px 12px;
	min-height: 14px;
	border-radius: 45px;
	text-align: center;
	color: #323232;
	display: block;
}

.site-navigation a,
.user-navigation a ,
.hits-list a,
.main-menu a,
.crumbs a,
.catalog-list a,
.pagination-list a,
.bottom-list a,
.copyright a {
	color: #ffffff;
}

.site-navigation a::after {
    content: "";
	top: 44px;
	left:0;
    display: block;
    height: 1px;
    width: inherit; /*auto;*/
	background-color: rgba(255, 255, 255, 0.2);
}

.main-menu a::after {
	display: none;
}

.catalog-item-link,
.bottom-list a,
.html-academy-link,
.crumbs a {
	/*Вместо text-decoration: underline;*/
	border-bottom: 1px solid rgba(255,255,255,0.4);/*#b0c0b7;*/
}

.crumbs a:hover,
.crumbs a:focus,
.bottom-list a:hover,
.bottom-list a:focus,
.html-academy-link:hover,
.html-academy-link:focus
{
	color: #ffbc9e;
	border-bottom: 1px solid #a7a294;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Стили кнопок - исп для кнопок и ссылок*/
.button {
	font: inherit;
	text-align: center;
	color: #ffffff;
	
	position: relative;
	display: inline-block;
	vertical-align: middle;
	padding: 10px 30px;
	
	text-decoration: none;
	border: 0px solid rgba(0, 0, 0, 0);
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
	background: #f26843;
	background: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
	background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: -o-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	border-radius: 45px;
	-webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	        box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	border: none;
	cursor: pointer;
}
 
.button:hover,
.button:focus {
	background: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
	background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background: -o-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
	-webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
	        box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
    color: #ffffff;
 }

.button:active {
	background: -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
	background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background: -o-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
	-webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
	        box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
 
/* Стили для главной */
.site-wrapper {
  /*min-width: 900px; /*40px;*/
  background-color: #849d8f;
  background-image: url("../img/slide1-background.png");
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
  -o-transition: background-image 0.5s ease, background-color 0.5s ease;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slide1-background.png"); 
}

.site-wrapper::after {
  background-image: url("../img/slide1-background.png"); 
}

/* Header */
.glassy-header {
	min-height: 104px; 
	margin-bottom: 288px; /* отступ от шапки до текста в слайдере */ 
}

.glassy-header p {
	padding:0;
	margin:0;
	text-align: right;
}

.glassy-navigation {
	width: 1146px;
	min-height: 33px; 
	background-color: transparent;
	margin: 0;
	padding: 0;
	padding-top: 0px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.site-navigation-logo {
	width: 540px;/*547px;*/
	min-height: 64px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-top: 10px;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.site-navigation {
	padding: 0;
	width: 375px; /*383px; /*390px; */
	list-style: none;
	min-height: 16px; 
	display: -webkit-box; 
	display: -ms-flexbox; 
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-left: 0px; /*10px;*/
	margin-top: 10px;
	-webkit-box-align: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.user-navigation {
	width: 265px; /*260px; */
	
 	margin: 0;
	padding: 0;
	padding-top: 0px;
 	list-style: none;
	min-height: 39px; 
	display: -webkit-box; 
	display: -ms-flexbox; 
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	margin-top: 23px;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
			
}

.user-navigation li {
	padding-right: 10px;
}

.user-navigation li:last-child {
	padding-right: 0px;
}

.search-link {
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	margin: 0;
	width: 33px;
	min-height: 33px;
	border-radius: 50%;
	background-color: rgba(255,255,255,0.4);
	position: relative;
}

.search-link svg{
	position: absolute;
	top: 8px;
	left: 8px;
}

.search-link:hover path,
.search-link:focus path {
	fill: #000000;
}

.login-link {
	display: inline-block;
	vertical-align: middle;
	min-height: 33px;
	width: 91px;
	border-radius: 45px;
	background-color: rgba(255,255,255,0.4);
	position: relative;
}

.login-link path{
	fill: #ffffff;
}

.login-link svg{
	position: absolute;
	top: 7px;
	left: 15px;
}

.login-link span {
	margin-top: 9px;
	margin-bottom: 9px;
	margin-left: 43px;
	margin-right: 15px;
}

.login-link:hover path,
.login-link:focus path{
	fill: #000000;
}

.login-link:hover,
.login-link:focus {
	color: #000000;
	background-color: rgb(247, 246, 243);
}

.cart-link {
	display: inline-block;
	vertical-align: middle;
	min-height: 33px;
	width:100px;
	border-radius: 45px;
	background-color: rgba(255,255,255,0.4);
	position: relative;
}

.cart-link svg {
	position: absolute;
	top: 7px;
	left: 14px;
}

.cart-link span {
	margin-top: 9px;
	margin-bottom: 9px;
	margin-left: 43px;
	margin-right: 15px;
}

.cart-link:hover path,
.cart-link:hover circle,
.cart-link:focus path,
.cart-link:focus circle
 {
	fill: #000000;
}

.catalog-link {
	background: none;
	position: relative;
}

.catalog-link-main {
	width: 64px;
	padding: 0;
	margin: 0;
}

.catalog-link-delivery {
	width: 142px;
	padding: 0;
	margin: 0;
}

.catalog-link-aboutus {
	width: 95px;
	padding: 0;
	margin: 0;
}

.catalog-link:hover  .main-menu   {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex; 
	-webkit-box-orient: vertical; 
	-webkit-box-direction: normal; 
	    -ms-flex-direction: column; 
	        flex-direction: column;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}

.catalog-link::after{
	position: absolute;
	top: 20px;
	left: 10px;
	content: "";
	height: 20px;
	width: 123px;
}

.main-menu {
	left: 0;
	top: 40px;
	margin: 0;
	padding:0;
	display: none;
	position: absolute;
	min-height:170px;
	width: 143px;
	background: #ffffff;
	border-radius: 5px;
}

.main-menu a {
	color: #323232;
	font-size: 14px;
	line-height: 16px;
	font-weight:400;
	border-bottom: none;
	width: 100%; /*122px; /*100%;*/
	text-align: left;
	float: left;
	padding: 0;
	padding-left: 21px;
	padding-top: 10px;
	margin: 0;
	min-height: 30px;
}

.main-menu a:hover {
	background: rgb(251, 222, 215);
	width: 122px; /*100%;*/
	min-height: 30px;
	border-radius: 0;
	text-align: left;
	float: left;
	padding: 0;
	padding-left: 21px;
	padding-top: 10px;
	margin: 0;
}

.catalog-news  a{
	font-weight:700;
}

.catalog-news  a:hover
{
	font-weight:700;
	border-radius: 5px 5px 0 0;
} 
/* Пришлось делать такой селектор из-за ограничения вложенности 2*/
.last-menu a:hover{
	border-radius: 0 0 5px 5px;
} 

.catalog-news {
	position: relative;
}
.catalog-news::after {
	position: absolute;
	content: "";
	top: 39px;
	left: 0;
	width: 143px;
	height: 1px;
	background: #d1d0ce;
}

.time {
	font-size: 14px;
	line-height: 16px;
	padding: 0;
	margin: 0;
	width: 1146px;
}

.phone {
	margin:0;
	padding:0;
	font-size: 22px;
	line-height: 24px;
	width: 169px; 
	margin-top: 2px;
	display: inline-block; /*block-inline;*/
	vertical-align: middle;
	float: right;
	margin-right: 0px;
}

/*Слайдер на главной*/
.slider {
	position: relative;
	text-align: center;
	color: #ffffff;
}

.slider-controls {
	position: absolute;
	bottom: 57px;
	left: 0;
	z-index: 20;
	font-size: 0;
}

.slider-controls label {
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-right: 8px;
	vertical-align: top;
	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}

.slider-controls label:hover {
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-right: 8px;
	vertical-align: top;
	background-color: rgba(255,255,255,0.4);/*#b2c1b7;*/
	border: 2px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}

.slide {
	min-height: 209px;
	text-align: center;
	display: none;
}

.slide h3 {
	font-size: 60px;
	line-height: 60.35px;
	width: 700px;
	margin: 0 auto;
	margin-bottom: 27px;
}

.quick-order {
	font-size: 32px;
	line-height: 44px;
	width: 280px; /*284px;*/
	-webkit-box-sizing:border-box;
	        box-sizing:border-box;
	margin-bottom: 38px;
}

.slider-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

#product-1:checked ~ .site-wrapper {
	background-color: #849d8f;
	background-image: url("../img/slide1-background.png"); 
}

#product-2:checked ~ .site-wrapper {
	background-color: #8996a6;
	background-image: url("../img/slide2-background.png"); 
}

#product-3:checked ~ .site-wrapper {
	background-color: #9d8b84;
	background-image: url("../img/slide3-background.png"); 
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
	display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
	background-color: #ffffff;
}

.container {
	width: 1146px;
	margin: 0 auto;
	padding: 0 0; /*27px;*/
}

/* Раздел Баннеры */
.banners {
	margin: 0;
	padding: 0;
	min-height: 232px;
	/*margin-bottom: 40px;*/
	width: 1146px;
}

.banners-list {
	margin: 0;
	padding: 0;
	margin-top: 5px;
	min-height: 232px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 1146px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;	
	margin-left: 0;/*27px;*/
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.banners-list h3 {
	font-size: 35px;
	line-height: 41px;	
}

.banners-list p {
	font-size: 18px;
	line-height: 24px;	
}

.banner-1 {
	min-height: 230px;
	width: 560px;
	border: 0px solid rgba(0, 0, 0, 0);
	border-radius: 18px;
	background-color: #7a1933;
	background-image: url("../img/background-1.jpg"); 
	background-position: center center;
	background-repeat: repeat;
	position: relative;
	margin-bottom: 40px;
}

.banner-2 {
	min-height: 230px;
	width: 560px;
	border: 0px solid rgba(0, 0, 0, 0);
	border-radius: 18px;
	background-color: #42291d;
	background-image: url("../img/background-2.jpg"); 
	background-position: center center;
	background-repeat: repeat;
	position: relative;
	margin-bottom: 40px;
}

.banner-button {
	position: absolute;
	font-size: 18px;
	line-height: 24px;
	float: right;
	right: 20px;
	bottom: 22px;
	padding: 11px 22px;
}

.banner-1 h3,
.banner-2 h3 {
	margin:0;
	padding:0;
	padding-top: 17px;
	margin-left:  20px;
	padding-bottom: 13px;
}

.banner-1 p,
.banner-2 p {
	margin:0;
	padding:0;
	padding-left: 20px;
	padding-right: 15px;
	padding-bottom: 50px;
}

/* Раздел Популярные товары и Каталог */
.hits {
	margin: 0;
	padding: 0;
	min-height: 324px;
	width: 1146px;
}

.hits-list{
	margin: 0;
	padding: 0;
	min-height: 324px; 
		
	width: 1173px; /*1146px; + 27*/ 
	display: -webkit-box; 
	display: -ms-flexbox; 
	display: flex;
	/*justify-content: space-between;
	*/
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-bottom: 33px;
	margin-left: -27px;
}

.hit-item::before {
	content: "";
	position: absolute;
	background-image: url("../img/hit.svg");
	width: 61px;
	height: 61px;
	left: 0px;
	top: 0px;
	z-index: 20;
}

.catalog-item {
	position: relative;
	padding-bottom: 0px; /*20px;*/
	min-height: 324px; 
	width: 266px; 
	margin: 0;
	margin-bottom: -9px; /*17px; /*20px;*/
	margin-left: 27px;
}

 .catalog-item::after{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
            box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
    content: "";
    display: none;
    min-height: calc(100% + 46px ); /*calc(100% + 46px + 15px); /*405px;*/
	position: absolute;
	left: -13px;
	top: -8px;
    width: calc(100% + 26px); /*292px;*/
    opacity: 0.5;
    z-index: 2;
}

.catalog-item:hover::after {
    display: block;
}

.price-catalog-item span {
	line-height: 45px;
	text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.price-digit {
	font-size: 45px;
}

.price-digit::after {
	content: "";
	position: absolute;
	top: 6px;
	left: 82px;
	width: 31px;
	height: 36px;
	background-image: url("../img/ruble.svg");
	background-repeat: no-repeat;
}

.price-letters {
	font-size: 30px;
	margin-left: 38px;
}

.catalog-item-link {
	line-height: 22px;
	font-size: 16px;
	font-weight: 500;
}

.catalog-item h3 {
	margin: 0;
	padding: 0;
	line-height: 20px;
	text-align: center;
	width: 258px;
	padding-top: 9px;
	padding-left: 6px;
}

.price-catalog-item {
	position: absolute;
	top: 210px; /*bottom:85px;*/
}

.catalog-item-button {
	width: 204px;
	min-height: 46px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    visibility: hidden;
    z-index: 3;

	padding-left: 14px;
	padding-right: 14px;
	margin: 0;
	margin-left: calc(50% - 102px); /*204px/2 );*/

	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	text-shadow: none;
}

.catalog-item:hover .catalog-item-button {
	margin-top: 13px;
	margin-bottom: -13px;
    visibility: visible;
}

.catalog-header {
	margin: 0;
	padding: 0;
	font-size: 35px;
	line-height: 41px;
	margin-bottom: 24px;
	padding-top: 5px;
}

.catalog-image {
	position: relative;
	border-radius: 50%;
	width: 267px;
	height: 267px;
	}

.catalog-items {
	margin: 0;
	padding: 0;
	min-height: 324px; 
	width: 1146px; 
}

.catalog-list{
	margin: 0;
	padding: 0;
	min-height: 324px; 
	width: 1173px; /*1146px; + 27*/ 
	display: -webkit-box; 
	display: -ms-flexbox; 
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-bottom: 33px;
	margin-left: -27px;
}

/* Раздел Наши особенности */
.features {
	background-color: #ede0c5;
	background-image: url("../img/vafl.jpg"); 
	background-position: center center;
	background-repeat: repeat;
	color: #323232;
	width: 1146px;
	min-height: 305px;
	margin: 0;
	padding: 0;
	margin-top: -32px;
	margin-bottom: 40px;
	border-radius: 18px;
}

.features h2 {
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
	color: #323232;
	margin:0;
	padding: 0;
	margin-left: 24px;
	padding-top: 25px;
}

.features p {
	line-height: 22px;
	font-weight: 400;
	color: #323232;
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
}

.features-list {
	width: 1146px;
	min-height: 168px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin: 0;
	padding: 0;
	padding-left: 25px;
	padding-top: 20px;
}

.feature-item {
	text-align: left;	
	width: 475px;
	min-height: 63px; 
	padding: 0;
	margin: 0;
}

.ice-cream{
	position: relative;
}

.ice-cream::before {
	content: "";
	position: absolute;
	top: -10px;
	left: -55px;
	width: 49px;
	height: 49px;
	background-image: url("../img/ice-cream.svg"); 
	background-repeat: no-repeat;
	background-position: 0 0;
}

.cow{
	position: relative;
}

.cow::before {
	content: "";
  	position: absolute;
	top: -10px;
	left: -60px;
  	width: 49px;
	height: 49px;
  	background-image: url("../img/cow.svg"); 
	background-repeat: no-repeat;
	background-position: 0 0;
 }
 
.eco{
	position: relative;
}

.eco::before {
	content: "";
 	position: absolute;
	top: -10px;
	left: -55px;
	width: 49px;
	height: 49px;
 	background-image: url("../img/eco.svg"); 
	background-repeat: no-repeat;
	background-position: 0 0;
}

.thermometer{
	position: relative;
}

.thermometer::before {
	content: "";
	position: absolute;
	top: -10px;
	left: -60px;
	width: 49px;
	height: 49px;
	background-image: url("../img/thermometer.svg"); 
	background-repeat: no-repeat;
	background-position: 0 0;
}

/* Раздел Новости и рассылка*/
.news-container {
	width: 1146px;
	margin: 0;
	padding: 0;
	margin-bottom: 40px;
	min-height: 220px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.news {
	background-image: url("../img/background-3.jpg"); 
	background-position: left center;
	background-repeat: repeat;
	margin: 0;
	padding: 0;
	width: 283px; /*563px;*/
	min-height: 190px; /*220px;*/
	border: 0px solid rgba(0, 0, 0, 0);
	border-radius: 18px;
	padding-right: 260px;
	padding-left: 20px;
	padding-bottom: 30px;
}

.news h2 {
	margin: 0;
	border-top: 0px solid #ffffff;
	padding-top: 23px;
	padding-bottom: 5px;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	color: #323232;
}

.news a {
	font-size: 24px;
	line-height: 30px;
	text-decoration: none;
	color: #323232;
	box-shadow: inset 0 -3px 0 #323232;
	right: 253px;
	text-align: left;
	width: 281px;
	
}

.news a:hover,
.news a:active {
    color:  #e84d37;
	box-shadow: inset 0 -3px 0 rgba(232, 77, 55, 0.3);
}
 
/* Раздел Рассылка */
.mailer {
	margin: 0;
	padding: 0;
	width: 560px;
	min-height: 220px;
	background: url("../img/bg-post.svg"); 
    border-radius: 18px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.blanc {
    background-color: #f8f7f4;
	padding: 0;
	margin: 6px;
    border-radius: 18px;
}
.mailer p {
	line-height: 22px;
	font-weight: 400;
	color: #5a5a5a;
	margin: 0;
	padding: 0;
	padding-top: 30px;
	padding-left:  21px;
	padding-right: 21px;
	padding-bottom: 34px;
}

.mailer input {
	height: 41px;
	line-height: 24px;
	font-weight: 400;
	color: #999999;
	width: 364px;
	margin-bottom: 33px;
	margin-right: 10px;
	border-radius: 5px;
	border: 1px solid #d3d3d2;
}

.mailer input::placeholder {
	padding-left: 14px;
	font-size: 16px;
	line-height: 24px;
	color: #999999;
}

.mailer button{
	width: 128px;
	padding-left: 5px;
	padding-right: 5px;
}

.mailer button,
.map button {
	font-size: 18px;
	line-height: 24px;
}

.mailer form {
	padding-left:  21px;
}

/* Карта */
.map {
	padding: 0;
	margin: 0;
	position: relative;
	width: 100%; 
	height: 430px;
	margin-bottom: 18px;
}

.feedback-container {
	height: 430px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
			
}

iframe {
	position: absolute;
	left: 0;
	top: auto;
	width: 100%; 
	height: 430px; 
	z-index: 0;
	border: none;
}

.map-p1 {
	margin: 0;
	padding: 0;
	padding-right: 55px;
	padding-top: 30px;
	padding-bottom: 0px;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #323232;
}

.map-p2 {
	margin: 0;
	padding: 0;
	padding-bottom: 18px;
	font-size: 18px;
	line-height: 24px;
	color: #323232;
}

.map-p5 {
	margin: 0;
	padding: 0;
	padding-right: 55px;
	padding-bottom: 5px;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #323232;
}

.map-p3 {
	margin: 0;
	padding: 0;
	padding-bottom: 3px;
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
	color: #323232;
}

.map-p4 {
	margin: 0;
	padding: 0;
	padding-bottom: 22px;
	font-size: 14px;
	line-height: 22px;
	font-weight: 400;
	color: #323232;
}

.contacts-map {
	background: #ffffff;
	color: #000000;
	width: 304px;
	min-height: 306px;
	margin-top: 63px;
	margin-right: 0px; /*26px;*/
	margin-bottom: 102px;
	padding-bottom: 19px;
	border: 0px solid rgba(0, 0, 0, 0);
	border-radius: 18px;
	z-index: 1;
	position: relative;
}

.contacts-map p,
.contacts-map a  {
	margin-left: 26px;
}

.relation-back-link {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}

/* Footer  */
.glassy-footer{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	margin: 0;
	padding: 0;
	padding-bottom: 15px;
} 

.social-list {
	width: 190px;
	min-height:43px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 0;
	margin: 0;
}

.social-list a {
	width: 40px;
	min-height: 40px;
	display: inline-block;
	vertical-align: middle;
}

.social-list svg {
	opacity: 0.8;
	border: 2px solid rgba(255,255,255,0.5);
	border-radius: 50%;
}

.social-list svg:hover,
.social-list svg:focus  {
	opacity: 1;
	border: 2px solid rgba(255,255,255,0.7);
	border-radius: 50%;
}

.bottom-list {
	padding: 0;
	margin:0;
	min-width: 335px;
	
	height: 45px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.bottom-list a {
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	margin-left: 15px;
}

.for-suppliers  a {
	font-size: 13px;
	line-height: 18px;
	font-weight: 700;
	margin-left: -3px;
}

.for-suppliers   {
	margin-left: -2px;
}

.for-suppliers:hover path{
	fill: #f9cdc4;
}

.copyright {
	width: 190px;
	min-height: 59px;
}

.copyright p {
	margin: 0;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
}


/* Страница каталога */
/* Header на странице каталога*/
.fullcart-link {
	display: block; 
	width:117px;
	border-radius: 45px;
	background-color: #ededed;
	position: relative;
	padding: 0;
	margin: 0;

}

.fullcart-link svg {
	position: absolute;
	top: 7px;
	left: 14px;
}

.fullcart-link span {
	color: #323232;
	margin-top: 9px;
	margin-bottom: 9px;
	margin-left: 43px;
	margin-right: 15px;
}

.selected-razdel {
	background: #d07058;
	width: 86px;
	min-height: 14px;
	border-radius: 45px;
	text-align: center;
	padding-top: 9px;
	padding-bottom: 9px;
}

.inner {
	margin-bottom: 0;
	min-height: 74px;
}

.glassy-logo img {
	border: none;
}

.glassy-logo  {
	height: 64px;
}

.time-crumbs p {
	margin: 0;
	padding: 0;
	text-align: right;
}

.crumbs {
	-ms-flex-item-align: end;
	    align-self: flex-end;
	padding: 0;
	margin: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 221px;

	
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	min-height: 16px;
}

.crumbs-phone {
	padding: 0;
	margin: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 1146px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	min-height: 22px;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}

/* Форма фильтр */
.search-headers {
	padding: 0;
	margin: 0;
	font-size:14px;
	line-height: 16px;
	font-weight: 500;
}

.search-controls {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	background-color: rgba(248, 247, 244, 0.3); 
	color: #ffffff;
}

/* Для селекта чтобы при наведении шрифт был черный */
label + .search-controls:hover {
	
	color: #000000; 
}
.search-controls:focus{
	background-color: rgb(255, 255, 255);
	color: #000000; 
}

.filter-input:disabled  + label {
	color: #ffffff;
	opacity: 0.5;
}

.filter-select {
	width: 197px;
	height: 38px;
	border-radius: 35px;
	border: none;
	padding-left: 16px;
   -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url("../img/icon-down-dir.svg") 90% / 6% no-repeat #a9b9af; 
}

.filter-select::-ms-expand {
display: none;
}

.filter-select:hover,
.filter-select:focus,
.filter-select:active {
	
	background: url("../img/icon-down-dir2.svg") 93% / 6% no-repeat #ffffff; /*a9b9af; */
}

.filter-select:disabled   {
	color: #ffffff;
	opacity: 0.5;
}

.filter-button  {
	border-style: solid;
	border-width: 2px;
	border-color: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.188);
	border: 2px solid #ffffff;
	border-radius: 45px;
	max-width: 157px;
	margin-bottom: 3px;
	padding: 8px 28px; 
	
}

.filter-button:hover,
.filter-button:focus  {
	background-color: rgb(255, 255, 255);
	color: #323232; 
}

.sort-rows {
	width: 196px;
	height: 63px; 
}

.filler-rows {
	padding: 0;
	margin: 0;
	height: 63px;
}

.range {
	width: 220px; /*176px; /*Ширина линейки с макета в фотошопе*/
	height: 63px;
	padding: 0;
	margin: 0;
	border: none;
}

.range-label {
	font-size: 14px;
	line-height: 16px;
}

.range-scale {
	position: absolute;
	width: 176px;
	height: 4px;
	background: #cbd4cd;  
	bottom: 17px;
 }

.range-background {
	padding-left: 20px;
	background: rgba(248, 247, 244, 0.3); 
	border-radius: 45px;
}
.range-background2 {
	position: relative;
	width: 176px; 
	height: 38px;
}

.range-bar {
	position: absolute;
	left: calc(  100% * 100 / 700);  
	right:   calc(100% * (700 - 500) / 700);
	height: 4px;
	background: #f8f7f4; 
	bottom: 0px;
}

.range-lever {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	position: absolute;
	bottom: 8px;
	left: 0px;  
	z-index: 2;
	width: 20px;
	height: 20px;
	background: hsl(0, 0%, 67%);
	border: 8px solid #ffffff;
	border-radius: 50%;
	cursor: pointer; 
 }
 
 .range-lever:active
 {
	cursor: pointer;
 }
 
 .range-input:focus + .range-lever
 {
	border-color: #663d15;
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	border: 8px solid #ffffff;
 }

.range-lever-min {
	left: calc(100% * 100 / 700 - 20px / 2);
}

.range-lever-max {
	left: calc(100% * 500 / 700 - 20px / 2);
}
 
 /* Жирность - радиокнопки */
 .fat-rows {
	height: 63px;
	
 }
 
 .fat-radio {
	height: 38px;
	width: 402px; /*416px;*/
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border-radius: 45px;
	padding-left: 4px;
	padding-right: 10px;
 }
  
 /* Наполнители - чекбоксы*/
.filler-check {
	height: 37px;
	width: 687px; /*702px;*/
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border-radius: 45px;
	padding-left: 5px;
	padding-right: 10px;
 }
 
 
.filter-input-rad{
	position: relative;
	padding-left: 35px;
	cursor: pointer;
}

.filter-input-rad input[type="radio"] + .radio-indicator {
	position: absolute;
	top: -3px;
	left: 2px;
	width: 22px;
	height: 22px;
	background-image: url("../img/radio-off.svg");
	background-repeat: no-repeat;
	background-color: #a9bbb1; 
	background-size: 100% 100%;
}

.filter-input-rad input[type="radio"]:focus + .radio-indicator {
	border-color: #663d15;
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
}

.filter-input-rad input[type="radio"]:checked + .radio-indicator {
	position: absolute;
	top: -3px;
	left: 2px;
	width: 22px;
	height: 22px;
	background-image: url("../img/radio-on.svg");
	background-repeat: no-repeat;
	background-color: #a9bbb1; 
	background-size: 100% 100%;
}

.filter-input-check{
	position: relative;
	padding-left: 35px;
	cursor: pointer;
}

.filter-input-check input[type="checkbox"] + .checkbox-indicator {
	position: absolute;
	top: -3px;
	left: 2px;
	width: 20px;
	height: 20px;
	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
	background-color: #a9bbb1; 
	background-size: 100% 100%;
}

.filter-input-check input[type="checkbox"]:focus + .checkbox-indicator {
	border-color: #663d15;
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
}

.filter-input-check input[type="checkbox"]:checked + .checkbox-indicator {
	position: absolute;
	top: -3px;
	left: 2px;
	width: 23px;
	height: 20px;
	background-image: url("../img/checkbox-on.svg");
	background-repeat: no-repeat;
	background-color: #a9bbb1; 
	background-size: 100% 100%;
}

.first-row-sort {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 856px; /*860px;*/
	min-height: 65px;
	padding-bottom: 10px;
	padding-top: 2px;
}

.second-row-sort {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	width: 860px;
	min-height: 63px;
	margin-bottom: 34px;
}

.fat-rows p, 
.range-label,
  .sort-rows label ,
  .filler-rows p {
	display: inline-block;
	margin: 0;
	padding: 0;
	margin-bottom: 5px;
	padding-left: 15px;
	vertical-align: middle;
}
/* Пагинация */
.pagination {
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	min-height:28px;
	width: 1146px;
	padding-top: 12px;
	margin-bottom: 29px;
}
.pagination-list {
	margin:0;
	padding:0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 198px; /*200px; /*194px;*/
	
}
.pagination-list li {
	margin: 0;
	padding: 0;
	min-width: 18px; /*10px;*/
	height: 14px;
}
.pagination-list a{
	display: inline-block;
	vertical-align: middle;
	min-width: 10px;
	height:14px;
	padding-left: 9px;
	padding-right: 9px;
	padding-top: 5px;
	padding-bottom: 8px;
}
.pagination-list a:hover,
.pagination-list a:focus {
	min-width: 10px;
	height: 14px;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 50%;
}

.pagination-list a:active {
	min-width: 10px;
	height: 14px;
	color: #323232;
	background-color: #ffffff;
	border-radius: 50%;
}
.next-item {
	width: 10px;
}
.next-item:active path{
	
	fill: #323232;
  
}
.previous-item path{
	fill: #9db1a5;
}

.previous-item  {
	-webkit-transform: scaleX(-1);
	    -ms-transform: scaleX(-1);
	        transform: scaleX(-1); /*rotate(-180deg) translateY(-16px);*/
}

.pagination-unable a:hover {
	background-color: transparent;
	
}
.next-item  path{
	fill: #ffffff;
}

.pagination-current a{
	min-width: 10px;
	height: 14px;
	color: #323232;
	background-color: #ffffff;
	border-radius: 50%;
}

.line {
	width: 100%;
	height: 1px;
	background: rgba(255,255,255, 0.3);
	margin-bottom: 17px;
}

/* Модальные окна*/

/* Анимация*/
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}
.modal {
	border-radius: 5px;
	background-color: rgb(248, 247, 244); 
	-webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4); 
	        box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	color: #323232; 
	position: fixed;
}

.modal p {
	padding: 0;
	margin: 0;
}

.modal input[type="text"]::-webkit-input-placeholder,
.modal input[type="email"]::-webkit-input-placeholder,
.modal input[type="password"]::-webkit-input-placeholder
{
	color: #999999;
	font-size: 14px;
	line-height: 24px;
}

.modal input[type="text"]:-ms-input-placeholder,
.modal input[type="email"]:-ms-input-placeholder,
.modal input[type="password"]:-ms-input-placeholder
{
	color: #999999;
	font-size: 14px;
	line-height: 24px;
}

.modal input[type="text"]::-ms-input-placeholder,
.modal input[type="email"]::-ms-input-placeholder,
.modal input[type="password"]::-ms-input-placeholder
{
	color: #999999;
	font-size: 14px;
	line-height: 24px;
}

.modal input[type="text"]::placeholder,
.modal input[type="email"]::placeholder,
.modal input[type="password"]::placeholder
{
	color: #999999;
	font-size: 14px;
	line-height: 24px;
}

.modal input[type="text"],
.modal input[type="email"],
.modal input[type="password"] {
	height: 44px;
	background: #ffffff;
	border: 1px solid #d3d3d2;
	border-radius: 5px;
	padding-left: 14px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

/* Окно входа*/
.login{
	position: relative;
}
.modal-login {
	position: absolute;
	top: 40px;
	right: 10px;
	/*top: 60px;
	left: 64%;*/
 	display: none;
	width: 243px;
	padding: 20px 18px;
	z-index: 100;
}

.login-form {
	font: inherit;
	margin: 0;
	padding: 0;
}

.user-email,
.user-password {
	width: 241px;
	margin-bottom: 21px;
}
 
.login-bottom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 241px;
	-webkit-box-pack:justify;
	    -ms-flex-pack:justify;
	        justify-content:space-between;
}

.login-button{
	font-size: 18px;
	line-height:24px;
	-webkit-box-ordinal-group: 0;
	    -ms-flex-order: -1;
	        order: -1;
	width: 100px;
	padding: 10px 25px;
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
}

.remember-new-login a {
    text-decoration: none;
    color: #323232;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    display: inline;
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	padding:0;
}

.remember-new-login a:hover,
.remember-new-login a:active {
    color:  #e84d37;
    border-bottom-color: rgba(232, 77, 55, 0.3);
}
 .remember-new-login {
	width: 120px;
}

.modal a  {
	color: #323232; 
}

/* Окно поиска*/
.search{
	position: relative;
}
.modal-search {
	position: absolute;
	right: 10px; /*60px;*/
	bottom: -70px;/*50%;*/
	width: 312px;
	display: none;
	padding: 20px 15px;
	z-index: 100;
}

.search-form {
	margin: 0;
	padding: 0;
}

.header-popup {
	top: -38px;
	right: 0px;
	position: absolute;
	border-radius: 50%;
}

.modal-search-header {
	top: -38px;
	right: 0px;
	position: absolute;
	border-radius: 50%;
	width: 17px;
	height: 17px;
	background: url("../img/loupe.svg") 0 0 no-repeat,  #ffffff;
	padding: 8px;
}
.modal-search-header path {
	fill: #000000;
}

.search-query {
	width: 312px;
}

/* Обратная связь*/
.modal-relation-back {
	top: 50%;
	margin-top: -222px;
	left: 50%;
	margin-left: -240px;
	width: 430px;
	display: none;
	padding: 25px;
	padding-top: 20px;
	border-radius: 10px;
	z-index: 100;
}

.relation-back-form{
	padding: 0;
	margin:0;
}
.modal-relation-back h2+p {
	margin-bottom: 25px;
	font-size: 24px;
	line-height: 28px;
}

.modal-relation-back textarea {
	height: 157px;
	width: 428px;
	background: #ffffff;
	border: 1px solid #d3d3d2;
	border-radius: 5px;
	padding-left: 14px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin-bottom: 26px;
}

.client-name,
.client-email {
	width: 268px;
	margin-bottom: 21px;
}

.modal-relation-back input[type="email"]::-webkit-input-placeholder,
.modal-relation-back input[type="password"]::-webkit-input-placeholder,
.modal-relation-back textarea::-webkit-input-placeholder
{
	color: #999999;
	font-size: 16px;
	line-height: 24px;
}

.modal-relation-back input[type="email"]:-ms-input-placeholder,
.modal-relation-back input[type="password"]:-ms-input-placeholder,
.modal-relation-back textarea:-ms-input-placeholder
{
	color: #999999;
	font-size: 16px;
	line-height: 24px;
}

.modal-relation-back input[type="email"]::-ms-input-placeholder,
.modal-relation-back input[type="password"]::-ms-input-placeholder,
.modal-relation-back textarea::-ms-input-placeholder
{
	color: #999999;
	font-size: 16px;
	line-height: 24px;
}

.modal-relation-back input[type="email"]::placeholder,
.modal-relation-back input[type="password"]::placeholder,
.modal-relation-back textarea::placeholder
{
	color: #999999;
	font-size: 16px;
	line-height: 24px;
}

.modal-close {
	position: absolute;
	top: 16px;
	right: 17px;
	width: 18px;
	height: 18px;
	font-size: 0;
	background-color: transparent;
	border: 0;
	cursor: pointer;
}

.modal-close::before,
.modal-close::after {
	content: "";
	position: absolute;
	top: 8px;
	left: -5px;
	width: 24px;
	height: 2px;
	background-color: #231f20; 
}

.modal-close::before {
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.modal-close::after {
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}

.relation-back-form button {
	margin: 0;
	float: right;
	font-size: 18px;
	line-height: 24px;
}

/* Корзина   */


.fullcart {
	position: relative;
	padding: 0;
	margin: 0;
	
}
.modal-cart {
	position: absolute;
	top: 40px;
	right: 0px;
	width: 508px;
	display: none;
	padding: 20px 16px;
	border-radius: 5px;
	z-index: 100;
}

.cart-del {
	width: 12px;
	height: 12px;
	font-size: 0;
	background-color: transparent;
	border: 0;
	cursor: pointer;
	position: relative;
	vertical-align: middle;
	margin-right: 14px;
}

.cart-del::before,
.cart-del::after {
	content: "";
	position: absolute;
	top: 2px;
	left: -3px;
	width: 17px;
	height: 2px;
	background-color: #231f20; 
}

.cart-del::before {
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.cart-del::after {
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}

.cart-table p,
.cart-table span {
	font-size: 13px;
	line-height: 16px;
	font-weight: 400;
}

.product-name  p{
	width: 216px;
	margin-left: 15px;
	margin-right: 32px;
}

.product-volume-price p {
	margin: 0;
	padding: 0;
}

.product-summ span {
	margin-left: 18px;
}

.lightgray {
	color: #999999;
}

 .cart-table {
	padding-bottom: 18px;
	margin-bottom: 17px;
 } 
 
 .cart-table {
	position: relative;
 }
 
 .cart-table::after {
	content: "";
	position: absolute;
	left: 0; 
	bottom: 0px; 
	width: 510px;
	height: 1px;
	background-color: #9d9d9b;
}

.cart-summ  { 
	width: 118px;
	float: right;
}

.cart-summ span {
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
}

.cart-button {
	float: right;
	padding: 10px 16px;
	margin-top: 18px;
	font-size: 18px;
	line-height: 24px;
}

.modal-show {
  display: block;
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.search:hover .modal-search {
	display: block;
}

.login:hover .modal-login {
	display: block;
}

.fullcart:hover .modal-cart {
	display: block;
}

.modal-overlay {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:  rgba(0,0,0,0.3);
	z-index: 90; 
}

.modal-overlay-show {
	display: block;
}