body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
   
 
 }

/* Пыталась вставить фоновое изображение в slide и в main, но оказалось что надо фоном вставлять в body, 
т.к. некоторые надписи из шапки наползают на картинку, в частности время работы и телефон. 
Переносить эти надписи из шапки в слайды нелогично.
Как-то надо будет при переключении слайдера менять свойства main-body, 
только как это сделать не понимаю пока. */

.main-body {
	/* Фон 1 */
	background-image: url("../img/slide1-background.png"); 
	background-color: #849d8f;
	
	/* Фон 2 */
	/*background-image: url("../img/slide2-background.png"); 
	background-color: #8996a6;*/
	
	/* Фон 3 */
	/*background-image: url("../img/slide2-background.png"); 
	background-color: #9d8b84;*/
	
	background-position: top center;
	background-repeat: no-repeat;
}

.inner-body {
	
	background-color: #849d8f;
}

a {
	text-decoration: none;
}

.site-navigation,
.user-navigation, 
.switch,
.banners-list, 
.features-list,
.hits-list,
.social-list,
.bottom-list,
.crumbs,
.catalog-list,
.pagination-list,
.main-menu {
  list-style: none;
}

.site-navigation a{
	line-height: 18px;
}

.user-navigation a {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}

.slide h3 {
	font-size: 60px;
	line-height: 60.35px;
}

.banners-list h3 {
	font-size: 35px;
	line-height: 41px;	
}

.banners-list p {
	font-size: 18px;
	line-height: 24px;	
}

.banners-list button {
	font-size: 18px;
	line-height: 24px;	
}

.catalog-item span {
	font-size: 45px;
	line-height: 45px;
}

.catalog-item a {
	line-height: 22px;
	font-weight: 500;
}

.features h2 {
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
	color: #323232;
}

.features p {
	line-height: 22px;
	font-weight: 400;
	color: #323232;
}

.news h2 {
	line-height: 22px;
	font-weight: 500;
	color: #323232;
}

.news a {
	font-size: 24px;
	line-height: 30px;
	text-decoration: underline;
	color: #323232;
}

.news {
	background-image: url("../img/background-3.jpg"); 
	background-position: left center;
	background-repeat: no-repeat;
}

.mailer p {
	line-height: 22px;
	font-weight: 400;
	color: #5a5a5a;
	
}

.mailer input {
	line-height: 24px;
	font-weight: 400;
	color: #999999;
	
}

.mailer button,
.map button {
	font-size: 18px;
	line-height: 24px;
}

.mailer {
	background: #ffffff;
}

.p1 {
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #323232;
}

.p2 {
	font-size: 18px;
	line-height: 24px;
	color: #323232;
}

.p3 {
	font-size: 18px;
	line-height: 22px;
	font-weight: 400;
	color: #323232;
}

.p4 {
	font-size: 14px;
	line-height: 22px;
	font-weight: 400;
	color: #323232;
}


.bottom-list a {
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	
}

.for-suppliers  a {
	font-size: 13px;
	line-height: 18px;
	font-weight: 700;
	
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus
 {
	color: #000000;
	background-color: rgb(247, 246, 243);
}
.site-navigation a,
.user-navigation a ,
.hits-list a,
.main-menu a,
.crumbs a,
.catalog-list a,
.pagination-list a,
.bottom-list a,
.copyright a
{
	color: #ffffff;
	
}

.remember-new-login a {
	color: #323232;
	border-bottom: 1px solid #adacaa;
}

.site-navigation a,
.catalog-list a,
.hits-list a,
.bottom-list a,
.copyright a,
.crumbs a {
	/*Вместо text-decoration: underline;*/
	border-bottom: 1px solid #b0c0b7;
}

.hits-list a:hover,
.hits-list a:focus,
.crumbs a:hover,
.crumbs a:focus,
.catalog-list a:hover,
.catalog-list a:focus,
.pagination-list a:hover,
.pagination-list a:focus,
.bottom-list a:hover,
.bottom-list a:focus,
.copyright a:hover,
.copyright a:focus
{
	color: #ffbc9e;
	border-bottom: 1px solid #a7a294;
}

.pagination-list a:hover,
.pagination-list a:focus
{
	color: #ffbc9e;
}

.remember-new-login a:hover,
.remember-new-login a:focus
{
	color: #e84d37;
	border-bottom: 1px solid #f9cdc4;
}

.banner-1  {
	background-image: url("../img/background-1.jpg"); 
	background-position: center center;
	background-repeat: repeat;
}

.banner-2  {
	background-image: url("../img/background-2.jpg"); 
	background-position: center center;
	background-repeat: repeat;
}

.button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
 }

.button:hover {
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
}

.button:focus {
  background-image: -moz-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
 }
 
 .quick_order {
	font-size: 32px;
	line-height: 44px;
}

.features {
	background-color: #ede0c5;
	background-image: url("../img/vafl.jpg"); 
	background-position: center center;
	background-repeat: repeat;
	color: #323232;
}


.feature-item {
	text-align: left;	
}

.feature-item h2 {
	font-size: 24px;
	line-height: 30px;
}

.map {
	background-image: url("../img/map.jpg"); 
	background-position: center center;
	background-repeat: no-repeat;
}

.contacts-map {
	background: #ffffff;
	color: #000000;
}

.selected-razdel {
	background: #d07058;
}

.crumbs  {
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
}

.catalog-header {
	font-size: 35px;
	line-height: 41px;
}

.search-headers {
	font-size:14px;
	line-height: 16px;
	font-weight: 500;
}

.search-controls {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	background-color: rgba(248, 247, 244, 0.2);
	color: #ffffff;
}

/* Для сортировки  */
label + .search-controls:hover {
	
	color: #000000; 
}
.search-controls:focus{
	background-color: rgb(255, 255, 255);
	color: #000000; 
}


.filter-input:disabled  + label {
	color: #ffffff;
	opacity: 0.5;
}

.filter-select:disabled   {
	color: #ffffff;
	opacity: 0.5;
}

.filter-button  {
	border-style: solid;
	border-width: 2px;
	border-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.188);
 }

.filter-button:hover,
.filter-button:focus
  {
	background-color: rgb(255, 255, 255);
	color: #323232; 
}

.modal {
	 border-radius: 5px;
	background-color: rgb(248, 247, 244); 
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	color: #323232; 
	
}

.modal a {
	color: #323232; 
}

.catalog-item:focus,
.catalog-item:hover
  {
	border-radius: 5px;
	background-color: rgba(248, 247, 244, 0.2); 
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.05);
	/* Заменила значение для тени, фотошоп выжает 0.4 непрозрачность, но при просмотре с такими параметрами тень выглядит слишком черной */
  }
  
  /*  ----------------------------- */
  
 /* body {*/
  /*height: 100vh;
  margin: 0;
  font-weight: 400;
  font-family: PT Sans, Arial, sans-serif;*/
/*}*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.range {
  width: 176px; /*Ширина линейки с макета в фотошопе*/
  padding: 0;
  border: none;
}

/* отступы сверху снизу */
.range-controls {
  position: relative;
  /*height: 32px;*/
  margin-top: 9px;
  margin-bottom: 30px;
}

.range-label {
  font-size: 14px;
  line-height: 16px;
}

.range-scale {
  position: relative;
  bottom: -22px;
  width: 100%;
  height: 4px;
  background: #cbd4cd;  
}

.range-bar {
  position: absolute;
  left: calc(100% * 100 / 700);
  right: calc(100% * (700 - 500) / 700);
  height: 4px;
  background: #f8f7f4; 
}

.range-lever {
  box-sizing: border-box;
  position: absolute;
  bottom: -33px;
  z-index: 2;
  width: 20px;
  height: 20px;
  background: hsl(0, 0%, 67%);
  border: 8px solid #ffffff;
  border-radius: 50%;
  cursor: pointer; 
 }

.range-lever:active {
	cursor: pointer;
 }

.range-lever-min {
  left: calc(100% * 100 / 700 - 20px / 2);
}

.range-lever-max {
  left: calc(100% * 500 / 700 - 20px / 2);
}
/* Сеточные стили.    */
.glassy-header {
	
	
	min-height: 103px;
	margin-bottom: 284px; /* отступ от шапки до текста в слайдере  */
}

.glassy-header p {
	text-align: right;
	margin-right: 40px;
	 
}

.glassy-navigation {
	width: 1150px;
	min-height: 33px; /*74px; Вот с этими высотами запуталась. В итоге взяла просто высоту шрифта, а отступ попытаюсь задать по-другому*/
	background-color: transparent;
	margin: 0;
	padding: 0;
	margin-left: 27px;
	margin-top: 10px;	
	display: flex;
	justify-content: space-between;

}

.glassy-logo {
	
	width: 154px;
	height: 64px;
	
	
}


.site-navigation {
	width: 349px;
  
  
	list-style: none;
  
	/* Временно для сетки */
	min-height: 16px; /*47px;*/
	display: flex;
	justify-content: space-between;
  
}

.user-navigation {
	width: 244px;
 
	margin: 0;
	padding: 0;
  
	list-style: none;
  
	/* Временно для сетки */
	min-height: 33px; /*57px;*/
	display: flex;
	justify-content: space-between;
}



.slider {
	margin: 0;
	padding: 0;
	
	min-height: 209px;
	
	/*display: flex;
	flex-direction: column;
	
	justify-content: space-between;
	align-items: center;*/
}

.slide {
	min-height: 209px;
	
	width: 1070px; /*700px;*/
	text-align: center;
	
}

.slide h3 {
	margin: 0;
	padding: 0;
	padding-bottom: 40px;
}



.slider-columns {
	display: flex;
	justify-content: flex-start;
}

.switch {
	width: 130px;
	min-height: 20px;
	display: flex;
	align-items: flex-end;
	order: -1;
}

.banners {
	margin: 0;
	padding: 0;
	min-height: 232px;
	margin-bottom: 40px;
	width: 1145px;
}

.banners-list {
	margin: 0;
	padding: 0;
	min-height: 232px;
	display: flex;
	width: 1146px;
	justify-content: space-between;	
	margin-left: 27px;
}

.banner-1 {
	min-height: 232px;
	width: 560px;
}

.banner-2 {
	min-height: 232px;
	width: 560px;
}

.hits {
	margin: 0;
	padding: 0;
	min-height: 324px;
	width: 1146px;
	
	
}

.hits-list{
	margin: 0;
	padding: 0;
	min-height: 324px;
	width: 1146px;
	display: flex;
	justify-content: space-between;
	
	margin-left: 27px;
}

.catalog-item{
	min-height: 324px;
	width: 270px;
	
	
}

.catalog-image {
	
	border: 0px solid rgba(0, 0, 0, 0);
	border-radius: 50%;
}

.features {
	width: 1146px;
	min-height: 307px;
	margin: 0;
	margin-left: 27px;
	margin-bottom: 40px;
	
}

.features h2 {
	margin-left: 27px;
	
}

.features-list {
	width: 1146px;
	height: 212px; /* Задала фиксированную высоту, т.к. иначе не переносятся элементы списка во вторую колонку. 
Считается ли это ошибкой? Если да, тогда надо делать два списка в 2 разных контейнера-колонки?	*/
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: wrap;
}

.feature-item {
	
	width: 535px;
	min-height: 100px;
}

.news-container {
	width: 1146px;
	margin: 0;
	padding: 0;
	margin-left: 27px;
	margin-bottom: 40px;
	
	min-height: 221px;
	display: flex;
	justify-content: space-between;
}

.news {margin: 0;
	padding: 0;
	width: 563px;
	min-height: 221px;
}

.mailer {margin: 0;
	padding: 0;
	width: 563px;
	min-height: 221px;
}

.map {
	
	width: 1200px;
	min-height: 430px;
	background-image: url("../img/map.jpg"); 
	display: flex;
	justify-content: flex-end;
}

.contacts-map {
	
	width: 308px;
	min-height: 306px;
	margin-top: 63px;
	margin-right: 26px;
	margin-bottom: 62px;
	padding-bottom: 19px;
}

.contacts-map p,
.contacts-map a
 {
	
	margin-left: 26px;
}

.glassy-footer{
	
	display: flex;
	justify-content: space-between;
} 

.social-list {
	width: 190px;
	min-height:43px;
	display: flex;
	justify-content: space-between;
}

.bottom-list {
	width: 328px;
	min-height: 38px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	
	
}

.copyright {
	width: 189px;
	min-height: 59px;
	
}

.time-crumbs {
	min-height: 39px;
	width: 1200px;
	display: flex;
	justify-content: space-between;
	
}

.time-crumbs {
	order: 2;
}

.crumbs {
	order: -1;
	display: flex;
	justify-content: space-between;
	width: 221px;
}

.inner {
	margin-bottom: 0;
	min-height: 74px;
}

.catalog-items {
	margin: 0;
	padding: 0;
	min-height: 324px;
	width: 1146px;
	
	
}

.catalog-list{
	margin: 0;
	padding: 0;
	min-height: 324px;
	width: 1146px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	
	margin-left: 27px;
}

.pagination {
	display: flex;
	justify-content: flex-end;
	
	min-height:28px;
	
	
}
.pagination-list {
	display: flex;
	justify-content: space-between;
	width: 194px;
	
}

.first-row-sort
{
	display: flex;
	justify-content: space-between;
	width: 861px;
	margin-left: 28px;
	min-height: 60px;
	padding-bottom: 16px;
}

.second-row-sort
{
	display: flex;
	justify-content: space-between;
	width: 861px;
	margin-left: 28px;
	min-height: 60px;
	padding-bottom: 40px;
	
}